
body{
    align-content: center;
}
button{
    width: 25px;
}
#frame{
    background-color: black;
    padding: 20px;
    padding-top: 50px;
    width: 150px;
    height: 100px;

}
input{
    margin-bottom: 10px;
}
