body{
  text-align: center;
  justify-content: center;
}

img{
  
  
    border-radius: 10px;

width: 100%;
hi
    
}
#logdiv {
  background-color: rgb(212, 241, 255);
  text-align :left;
}
}
p{
  padding: 20px;
}
h3{
  padding:5px
}
#left{
  background-color: white  !important ;
  
}
#top{
  background-image: url();
}
footer{
  height: 100px;
color: white;
}
#carouselExampleIndicators{
  width: 60%;

}